body{
    margin: 0;
    padding: 0;
    background-color: lightgray;

}

p{
    margin-top: 2rem;
    margin-left: 3rem;
    color: #FFFFFF;
    font-family: Verdana;

}

.container{
    margin: 25px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 170px 150px 130px;
    grid-template-areas: "header header header"
                         "aside main main"
                         "aside item-1 item-2";

    grid-gap: 25px;
}

.container > *{
    background-color: #f77b55;
}

.header{
    grid-area: header;
}

.aside{
    grid-area: aside;
}

.main{
    grid-area: main;
}

.item-1{
    grid-area: item-1;
}

.item-2{
    grid-area: item-2;
}
